*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

/*----------variables------------*/

:root{
    --space: 2rem;
    --main-color: #da6285;
    --pink-color: #ff8e9d;
    --pink-opacity: #ffe6e9;
    --white-align-40: rgba(255, 255, 255, 0.40);
    --white-align-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter: blur(5px);
    --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.40);
}

/*---------global styling--------*/


body{
    background-image: url('../image/bg1.webp');
    background-repeat: no-repeat;
    background-position: center;
}

html{
    scroll-behavior: smooth;
}

.btn{
    background-color: var(--white-align-25);
    border: 2px solid var(--white-align-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    color: var(--main-color);
    padding: .8rem 2rem;
    border-radius: 1.5rem;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.btn::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 30px;
    z-index: -1;
    transition: width 0.3s ease;
}

.btn:hover::before{
    width: 100%;
}

.btn:hover{
    color: #fff;
}

.empty{
    background-color: var(--white-align-25);
    border: 2px solid var(--white-align-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    color: var(--main-color);
    padding: 1.5rem;
    text-align: center;
    margin: 2rem auto;
}

.empty p{
    font-size: 20px;
    margin-bottom: 2rem;
}

input[type='submit']{
    cursor: pointer;
}

input[type='submit']:hover{
    color: var(--main-color);
}

.box-cotainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
}

.box-cotainer .box{
    background-color: var(--white-align-25);
    border: 2px solid var(--white-align-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    margin: 1rem;
}

.heading{
    text-align: center;
    line-height: 1.5;
}

.heading h1{
    font-size: 2rem;
    text-transform: capitalize;
}

.heading span{
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 16px;
}

.heading img{
    margin-top: .5rem;
    width: 150px! important;
}

section,
.post-editor{
    width: 75vw;
    min-height: 100wh;
    padding: 4%;
    margin: 8% 5%;
    margin-bottom: 2%;
}

.flex-btn{
    display: flex;
    justify-content: space-between;
}

.flex-btn .btn{
    margin: .5rem;
}

/*--------custom scroll bar---------*/

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    --webkit-border-radius: 20px;
    border-radius: 20px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--pink-color);
    position: relative;
}

::-webkit-scrollbar-track{
    background-color: transparent;
    --webkit-border-radius: 20px;
    border-radius: 20px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

/*-------------form container----------*/

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 4% 0;
    position: relative;
}

.form-container form{
    background-color: var(--white-align-25);
    border: 2px solid var(--white-align-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;    
}

.form-container form .flex{
    display: flex;
    gap: 2rem;
}

.form-container form .flex .col{
    flex: 1 1 25rem;
}

.form-container .login{
    width: 50rem;
}

.form-container .register{
    width: 60rem;
}

.form-container .register .img-box{
    text-align: center;
    margin-bottom: 1rem;
}

.form-container .register img{
    width: 180px;
    height: 180px;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    background-color: var(--main-color);
}

.form-container form h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--main-color);
    text-transform: capitalize;
    font-weight: bolder;
}

.form-container form p{
    padding-top: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.form-container form p span{
    color: red;
}

.form-container form .link a{
    color: var(--main-color);
}

.form-container form .link a:hover{
    color: var(--pink-color);
    text-decoration: underline;
}

.form-container form .box{
    background-color: var(--white-align-25);
    border: 2px solid var(--white-align-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    width: 100%;
    border-radius: .5rem;
    margin: .5rem 0;
    font-size: 1.3rem;
    padding: 1rem;
}

.form-container form textarea{
    height: 20rem;
    resize: none;
}

.form-container form .btn{
    width: 100%;
    font-size: 1.3rem;
}

.form-container .image{
    height: 30rem;
}